<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.iot.common.dao.BoardDao">


	<select id="count" resultType="int"><![CDATA[
		select count(*) from board
	]]></select>


	<select id="getPage" parameterType="map" resultType="Board"><![CDATA[
		SELECT board_id, title, writer, read_cnt, reg_date 
		FROM ( 
			SELECT ROW_NUMBER() OVER (ORDER BY reg_date DESC) AS SEQ, 
				board_id, title, writer, read_cnt, reg_date 
			FROM board 
		) 
		WHERE SEQ BETWEEN #{start} AND #{end}
		ORDER BY board_id DESC 
	]]></select>

	<insert id="insert" parameterType="Board" 
		keyColumn="board_id" keyProperty="boardId"><![CDATA[
		insert into board
		(board_id, title, writer, password, read_cnt, content)
		values(board_SEQ.NEXTVAL, #{title}, #{writer}, #{password}, 0, #{content})
	]]></insert>
	
	<update id="increaseReadCnt" parameterType="long">
		UPDATE board SET
			read_cnt = read_cnt+1
		WHERE board_id = #{boardId}
	</update>
	
	<update id="update" parameterType="Board">
		UPDATE board SET
			title=#{title},
			content=#{content},
			update_date = sysdate
		WHERE board_id = #{boardId} and password=#{password}
	</update>
	
	<select id="findById" parameterType="long" resultType="Board">
		SELECT * FROM board
		WHERE board_id=#{boardId}
	</select>

	<delete id="delete" parameterType="long">
		DELETE FROM board
		WHERE board_id = #{boardId}
	</delete>

</mapper>